<template name="about">
{{#markdown}}
# The Washington Redskins

We are five high-school students from Los Angeles, only one of whom actually plays football.
Our name was inspired by South Park episode ["Go Fund Yourself" (Season 18, Episode 1)](http://southpark.cc.com/full-episodes/s18e01-go-fund-yourself) and we in no other way affiliated with the National Football League team of the same name.

Please support us and share your experiences/money with us on our [team page](https://www.facebook.com/thewashingtonredskinshack)!

## About our team

| Ethan | David | Christian | James | Jake
|--- |--- |--- |--- |---
| <a href="https://github.com/ethanmad"> ![Ethan] </a> | <a href="https://github.com/dwoldenberg1">![David]</a> | <a href="https://github.com/paralin">![Christian]</a> | <a href="https://github.com/jameslennon321">![James]</a> | <a href="https://github.com/thesafo">![Jake]</a> |

[Ethan]: http://i.imgur.com/gR6zSotm.jpg "Eating his signature food, gormeh sabzi"
[David]: http://i.imgur.com/hKDsoqJm.jpg "Basic"
[Christian]: http://i.imgur.com/EofphTDm.jpg?1 "at NASA JPL"
[James]: http://i.imgur.com/6WhfoIZm.png?2 "A day in the life"
[Jake]: http://i.imgur.com/IFEuZNEm.png?2 "Khakis"

`Ethan`'s experience lies primarily with Java, although he has dabbled in and is learning other languages. He has published two applications: [En Garde](https://play.google.com/store/apps/details?id=com.ethanmad.fencingscorekeeper), an Android fencing score-keeping app, and [HyperTyper](http://ethanmad.com/HyperTyper), a Chrome extension that helps (cheats) in online typing competitions. He has little experience with the Web outside of static websites, so he is looking to learn a lot with The Washington Redskins.

`David` is passionate about teaching others how to 'Kode', as demonstrated by his project, [Koding 4 Kids](http://koding4kids.com). Right now, however, his teaching is on hold until we teach y'all a lesson.

`Christian`, also known as 'quantum' or '[paralin](http://parl.in)' is known primarily for [D2Moddin](http://paral.in/the-d2moddin-project/), which brought custom game modes to over 174,000 DOTA 2 players. Christian's in-progress projects include two other DOTA projects, WebLeague and DotaReplay, in addition to his VTOL PixHawk autonomous UAV project. Previous projects are listed on [his website](http://paral.in/projects/) with links to GitHub repositories.

`James` is an algorithms expert and is top 50 on the USACO rankings in 2014. James actually [invented the subordinate-sequential search algorithm](https://koding.com/jlennon1) with the help of fellow Koders. James has also created several published games, including [Nebulus](https://itunes.apple.com/app/nebulous-multiplayer-space/id874328065?mt=8) and [Driftlight](https://itunes.apple.com/us/app/driftlight/id908131148?mt=8).

`Jake` is an esteemed hacker who often goes by the name of '4chan'. He's apparently very infamouss, but you better not tell [CNN](https://www.youtube.com/watch?v=kRcdmbC0HHs)!


## Hugo, our team leader

`Hugo` is the true team leader; he is the project planner and the whip-cracker. Responsibilities also include checking our browser history and stepping on the slaves's keyboards. 
![Hugo](https://s3.amazonaws.com/pushbullet-uploads/ujwnPp82dTE-WaqOGVSjMvgUB9HIIG8IOqvFDM3syZCN/IMG_20141206_215947.jpg "Inspecting browser history") 

Please click enjoy the above picture and think about how cute this he is. Think about how he could look into your eyes and convinve you to do anything. Let him convince you. Take his advice. Join #TheWashingtonRedskins.   


## What we're making

It's quite possible that we are inventing the most revolutionary product ever made! [As part of our review of playing field, we have decided to move forward with cloud-based early adopter. Skate to where the puck is going to be.](http://projects.wsj.com/buzzwords2014/#p=13%7C35,13%7C%7C6%7C%7C2%7C2) Steve Jobs may [1] have decreed "the iRedskins (formerly The Washington Redksins) is the most revolutionary and magical product Apple has made yet" while tripping on an LCD in India.

Expect us on Kickstarter [2] soon [3]!

[1]: It's not in *Steve Jobs* by Walter Isaacson, but it's still possible [4] that he did say it <br>
[2]: See "Go Fund Yourself"'s above link <br>
[3]: See [Valve Time](https://developer.valvesoftware.com/wiki/Valve_Time) or [never](http://lmgtfy.com/?q=define+never) or [soon (tm)](http://www.urbandictionary.com/define.php?term=soon%20%28tm%29) <br>
[4]: Literally and totally impossible

{{/markdown}}
</template>
