<template name="populationGrowth">
	{{#markdown}}#Population Growth{{/markdown}}
	{{> visualize2}}

	{{#markdown}}
The global population has, for most of human history, has grown at a very slow and steady rate. Until about eight hundred years ago, population roughly doubled every thousand years.
In 0 AD, after thousands of years of human history, world population was a mere one-hundred seventy million, or less than the population of modern Nigeria.

In the next thousand years, population grew to only about three-hundred million people--less  than the population of the USA today. Since then, the global population has grown by more than a factor of twenty to over seven billion! World population finally reached one billion in 1800 and two billion in 1927. In 1999, there were six million humans on Earth. Twelve years later, in 2011, there were seven billion; our population grew more in a dozen years than it had in the ten thousand years prior to 1800.
	{{/markdown}}

	{{> visualize}}
</template>

<template name="visualize">
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</template>
<template name="visualize2">
	<div id="map"> </div>
</template>
