<template name="intro">
<div id="introContainer">
</div>
<div id="titleContainer" class="noselect">
    <h1>LIVING PLANET</h1>
    <h3>learn about your world</h3>
</div>
<div id="tileContainer" class="container">
    <div class="row" style="width: 100%;height:100%">
        {{#each view}}
        <div class="col s12 m6 l3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{name}}</span>
                    <p>{{subtitle}}<br></p>
                </div>
                <div class="card-action">
                    <a href="#" class="learnMore">Learn more</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</template>
