<template name="intro">
<div id="introContainer">
    <ul id="scene" class="scene unselectable"
                   data-friction-x="0.1"
                   data-friction-y="0.1"
                   data-scalar-x="25"
                   data-scalar-y="15">
        <li class="layer" data-depth="0.00"><div class="sky"></div></li>
        <li class="layer" data-depth="0.005"><div class="mountain mountain2"></div></li>
        <li class="layer" data-depth="0.03"><div class="foreground slice1"></div></li>
        <li class="layer" data-depth="0.05"><div class="mountain mountain1"></div></li>
        <li class="layer" data-depth="0.07"><div id="birdContainer"></div></li>
        <li class="layer" data-depth="0.10"><div class="foreground slice0"></div></li>
    </ul>
</div>
</template>
