#introContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#titleContainer {
    text-align: center;
    width: 100%;
    padding-top: 5%;
}

#titleContainer h1 {
    font-size: 6em;
    margin-bottom:0;
    font-weight: 800;
}
#titleContainer h3 {
    font-size: 2em;
    margin-bottom:0;
    font-weight: 400;
    margin-top:0;
}

#tileContainer {
    bottom: 5%;
    left: 5%;
    right: 5%;
    position:absolute;
    top:30%;
}
