<template name="emissions">
{{#markdown}}
#CO2 Emissions

Overpopulation has caused a major problem with the atmosphere: the greenhouse effect. Our industrial and agricultural activity produces massive amounts of CO2 that dissipates into the atmosphere. The greenhouse effect comes from "greenhouse" gases such as carbon dioxide in the atmosphere that trap heat on our planet. The greenhouse gases capture infrared radiation reflected off of the earth and warm out planet. Many argue that our current carbon dioxide levels are natural since carbon dioxide levels are cyclical. 

#####CO2 emissions from consumption of energy 1980-2007 (million metric Tons)
{{/markdown}}

{{> bubbles}}

{{#markdown}}
While it is true that CO2 levels cycles with glacial cycles, the current CO2 levels are 30% or 90 ppi greater than the historical maximum--rather clear evidence that the current carbon dioxide levels are due to the massive overpopulation issue. As energy demands increase, so too will the emissions of greenhouse gases and the strength of the climate change-inducing greenhouse effect.  

{{/markdown}}

</template>

<template name="bubbles">
  <div id="bubbles"></div>
</template>
