<template name="water">
	<h1>
		Water Shortage
	</h1>
	<br/>
	<div id="comparison-container">
		<p>
			For every <span class="water-number" id="usa-num">1</span> person in the United States
			<div class="water-expand" id="water-usa-expand"><img src="/images/usa.png" id="usa-1"/></div>
		</p>
		<p>
			There are <span class="water-number" id="world-num">2.5</span> people in the World without water
			<div class="water-expand" id="water-world-expand"><img src="/images/usa.png" id="usa-2"/><img src="/images/usa.png"/><img src="/images/usa-half.png" id="usa-3"/></div>
		</p>
	</div>
	<div>
		<p>
			Also, more people have a mobile phone than access to a toilet.
		</p>
		<img src="/images/phone.png" id="water-phone"/>
		<span id="water-less">></span>
		<img src="/images/toilet.png" id="water-toilet"/>
	</div>
	<div>
		<p>About one billion people already lack sufficient access to water for drinking, agriculture, and sanitation. Aquafiers and resevoirs are being depleated faster than ever around the world and melting glaciers are threatening to ruin them. The issue of water shortages can only get worse with more dependents and sources of contamination.  
		</p>
	</div>
</template>