#hunger
{
  height: 500;
  width: 100%;
  background-image: url(/images/wheat-procurementREAL.jpg);
  background-size: cover;
  background-position: center center;
}

#container {
	height: 400px; 
	min-width: 310px; 
	max-width: 800px;
	margin: 0 auto;
}

#pop-blue
{
	color: blue;
}

#pop-orange
{
	color: orange;
}

#pop-green
{
	color: green;
}

#pop-red
{
	color: red;
}