<template name="hunger">
	{{> visualizeHunger}}
	{{> visualizeHunger2}}
</template>

<template name="visualizeHunger">
<div id="hunger"></div>

<p class="flow-text"> This diagram represents the number of people who starve every day. Each dot is 4 million people, yet your cursor can never hit the dots, just how these people cannot obtain food.

<span id="pop-blue">Blue</span> represents people from <span id="pop-blue">Asia</span>, <span id="pop-orange">Orange</span> represents people from <span id="pop-orange">Africa</span>, <span id="pop-green">Green</span> represents people from <span id="pop-green">Latin America</span>, and <span id="pop-red">Red</span>  represents people from <span id="pop-red">developed countries</span>.</p>
</template>

<template name="visualizeHunger2">
<div id="container" style="height: 400px"></div>
<p class="flow-text">Source: http://www.fao.org/docrep/X8200E/x8200e03.htm</p>
</template> 
