/* CSS declarations go here */
#pie {
	height: 100%;
	width: 100%;
}
#legend {
	width: 300px;
	display: inline-block;
	float: right;
	width: 260px;
	padding-left: 60px;
}

.swatch {
	height: 20px;
	width: 20px;
    float: left;
    margin-right: 15px;
}

.swatchCont {
	padding-bottom: 5px;
	display: inline-block;
	float: left;
    width: 100%;
}
#sixthCont {
	width: 100%;
	height: 100%;
	min-width: 1050px;
	max-width: 100%;
}
#titlePie {
	font-weight: bold;
	width: 100%; 
	text-align:center; 
	font-size: 2em;
}

.yearOp{
	background-color: #009688 !important;
}
