<template name="sixth">
{{#markdown}}#The Sixth Mass Extinction

It sounds intimidating doesn't it? Don't worry though, humans aren't in danger, or are they?

The Sixth Mass Extinction, also referred to as the Holocene Extinction, is the extinction of many of the world's plant and animal species largely due to human activity. 
Often times these species are accustomed to a certain type of environment and for one reason or anther, the impact of humans has destroyed those environments. 
Sometimes we introduce invasive species that devastate a balanced ecosystem, or we dump our industrial waste into an ecosystm and damage that environement's food supply. 
Though it may not seem like this affects us humans directly, we are changing the way our foodweb works by killing off certain species. 
There is a cascading effect that we have already started to feel and overpopulation is not helping. As we continue to overpopulate the Earth and expand to new regions of the world, the issue of the Sixth Mass Extinction can only get worse.
{{/markdown}}

  {{> pie}}
</template>

<template name="pie">
	 <button id="yearOp1" > 2004</button>
	 <button id="yearOp2" > 2009</button>
  <div id="pie"></div>
  <div id="legend">
  {{#each legend}}
  <div class="swatchCont"><div class="swatch" style="background-color: {{color}};"></div>{{type}}</div>
  {{/each}}
  </div>
</template>
